@import url(//db.onlinewebfonts.com/c/05124603d45f2c38430e7ea32772eb96?family=Chiller);

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  background-color:black;
 }

img.logo{
	width:100px;
	height:70px;
}


h1{ 
	color:yellow;
	font-family: chiller;
	font-size:50px;
}

p {
  font-family: "Times New Roman", Times, serif;
	
	color:yellow;
	font-size:30px;
}

button {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  color: black;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}


button.btn{
  border-style:solid;
  color:white;
  background-color:tomato;
}


button.btn:hover {
  color: white;
}